@font-face {
    font-family: 'Oswald';
    src: url('Oswald-VariableFont_wght.ttf') format('truetype');
}

.word {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: #CCCCCC;
    font-weight: 800;
    letter-spacing: 1px;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         3px  3px 5px rgba(0,0,0,0.5);
    padding: 3px 5px;
}

.word-being-narrated {
    color: #FF3333;
}

.word-already-narrated {
    color: #FFFFFF;
}
