@font-face {
    font-family: 'CustomFont';
    src: url('black.ttf') format('truetype');
}

.word {
    font-family: CustomFont, sans-serif;
    font-size: 24px;
    color: white;
    padding: 7px 5px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.word-being-narrated {
    background-color: #e41f23;
    border-radius: 15px;
}
